---
clusterName: "opensearch-cluster"
nodeGroup: "master"
singleNode: true
masterService: "opensearch-cluster-master"

roles:
  - master
  - ingest
  - data
  - remote_cluster_client

replicas: 1

image: opensearchproject/opensearch
imageTag: "2.11.1"

resources:
  requests:
    cpu: "1000m"
    memory: "2Gi"
  limits:
    cpu: "2000m"
    memory: "4Gi"

persistence:
  enabled: true
  size: 20Gi

config:
  opensearch.yml: |
    cluster.name: opensearch-cluster
    node.name: opensearch-cluster-master-0
    network.host: 0.0.0.0
    plugins.security.disabled: true

livenessProbe:
  tcpSocket:
    port: 9200
  initialDelaySeconds: 60
  periodSeconds: 10

readinessProbe:
  tcpSocket:
    port: 9200
  initialDelaySeconds: 60
  periodSeconds: 10

startupProbe:
  tcpSocket:
    port: 9200
  failureThreshold: 30
  periodSeconds: 5

service:
  type: ClusterIP
  port: 9200
