apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kube-prometheus-stack
  namespace: argocd
spec:
  project: monitoring
  source:
    repoURL: git@github.com:ton-org/infra-monitoring.git  # Ton repo SSH !
    targetRevision: main
    path: apps/kube-prometheus-stack
    helm:
      releaseName: kps
      valueFiles:
        - values-prod.yaml
      parameters:
        - name: prometheusOperator.prometheus.prometheusSpec.serviceMonitorSelectorNilUsesHelmValues
          value: "false"
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
